name: Balls
on: 
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: run
        run: |
         git fetch --all
         git checkout PersistSettings-fix
         git pull "https://gitea.com/Archimedes5000/plugins/" main
         git push PersistSettings-fix
